<span>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-box">

  <div class="logo-caption-box">
    <img class="logo-box" src="assets/tarent_dot_red_white.png" height="50">
    <div class="Social-Wall-Label">Social Wall</div>
  </div>

  <div class="log-in-text">LOG IN</div>
  <span>
    <div>
      <label class="label-name" for="username">Username</label>
    </div>
    <div>
      <input type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
             placeholder="Enter your username"/>
    </div>
    <div *ngIf="submitted && f.username.errors">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </span>
  <div>
    <div>
      <label class="label-name" for="password">Password</label>
    </div>
    <div>
      <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
             placeholder="Enter your password"/>
    </div>
    <div *ngIf="submitted && f.password.errors">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>
  <div>
    <button class="button button-text" [disabled]="loading">Login</button>
    <img *ngIf="loading"
         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
  </div>
  <div *ngIf="error">{{error}}</div>
</form>
</span>
